<div style="background-color: lightgray; height: 1000px;">
<h2 class="text-center w-100" style="color: brown;font-size: 50px;"><b>EMPLOYEE MANAGEMENT</b></h2>
<button style="position: relative;left: 850px;" class="btn btn-success btn-lg" (click)="addEmp()">ADD</button>
<!-- //search  -->
<div style=" position: relative; left: 900px;top: -50px;">
    <input [(ngModel)]="searchTerm" (keyup)="search($event)" id="s1" name="search" type="text" style=" border-radius: 8px;height: 50px;" class="ms-5" placeholder="Search">
    <button style="border-radius: 8px;height: 50px;"><i class="fa-solid fa-magnifying-glass"></i></button>    
</div>

<div>
<button (click)="filterPipe('')" class="btn btn-outline-warning btn-lg" style="position: relative;left: 400px; ">All</button>
<button (click)="filterPipe('yes')" class="btn btn-outline-warning btn-lg" style="position: relative;left: 400px;">Current Staff</button>
<button (click)="filterPipe('no')" class="btn btn-outline-warning btn-lg" style="position: relative;left: 400px;">Resigned Staff</button>
</div>
<hr>
<table class="table table-primary table-striped container">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">POSITION</th>
        <th scope="col">DEPARTMENT</th>
        <th scope="col">PHONE</th>
        <th scope="col">SALARY</th>
        <th scope="col">JOINING DATE</th>
        <th scope="col">STAFF</th>
        <th scope="col">LEAVING DATE</th>
        <th scope="col">button</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of emparray | filter :searchTerm:'estaff' | search :searchString:'ename' ">
        <th scope="row">{{i.eid}}</th>
        <td>{{i.ename}}</td>
        <td>{{i.eposition}}</td>
        <td>{{i.edept}}</td>
        <td>{{i.ephone}}</td>
        <td>{{i.esal}}</td>
        <td>{{i.ejoining}}</td>
        <td>{{i.estaff}}</td>
        <td>{{i.eleaving}}</td>
        <td><button type="button" class="btn btn-sm btn-primary mr-2" (click)="editEmployee()">Edit</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteEmployee(eid)">Delete</button>
        </td>
      </tr>   
    </tbody>
  </table>
  <div class="text-container mb-2">
    <a href="home" style="position: relative;left: 950px;" type="button" class="btn btn-danger mt-3 ms-3 mb-3">Close</a>
</div>

</div>