<div class="ms-5 me-5 " style="background-color: darkgrey;">
<h2 class="text-center text-primary" style="font-size: 45px;">Add New Product</h2>
<form action="" class="container" [formGroup]="addForm">
    <div>
        <label style="color: yellow;" for="Pid"><b> PRODUCT ID</b></label>
        <input id="Pid" formControlName="pid" name="pid2" class="form-control" type="text" placeholder="Enter Product Id">
    </div>
    <div *ngIf="(this.addForm.get('pid')?.errors)&&(this.addForm.get('pid')?.touched)">
        <p class="text-danger">Must contains alphabets and Numbers only</p>
    </div><br>
<div>
    <label style="color: yellow;" for="pname"><b>NAME</b></label>
    <input id="pname" formControlName="pname" name="pname2" class="form-control" type="text" placeholder="Enter Product Name">
</div>
<div *ngIf="(this.addForm.get('pname')?.errors)&&(this.addForm.get('pname')?.touched)">
    <p class="text-danger">Must contains alphabets only</p>
</div><br>
<div>
    <label style="color: yellow;" for="q1"><b>QUANTITY</b></label>
    <input id="q1" formControlName="quantity" name="q2" class="form-control" type="number" placeholder="Enter Quantity">
</div>
<div *ngIf="(this.addForm.get('quantity')?.errors)&&(this.addForm.get('quantity')?.touched)">
    <p class="text-danger">Must contains numbers only</p>
</div><br>
<div>
    <label style="color: yellow;" for="d1"><b>DATE</b></label>
    <input id="d1" formControlName="pdate" name="d2" class="form-control" type="string" placeholder="Enter Date">
</div>
<div *ngIf="(this.addForm.get('pdate')?.errors)&&(this.addForm.get('pdate')?.touched)">
    <p class="text-danger">Must contains date only</p>
</div><br>
<div>
    <label style="color: yellow;" for="e1"><b>EXPORT</b></label>
    <input id="e1" formControlName="pexport" name="e2" class="form-control" type="text" placeholder="Yes/No">
</div>
<div *ngIf="(this.addForm.get('export')?.errors)&&(this.addForm.get('export')?.touched)">
    <p class="text-danger">Must contains smallcase alphabets only</p>
</div>
<br>
<div>
    <label style="color: yellow;" for="p1"><b>PLACE</b></label>
    <input id="p1" formControlName="pplace" name="p2" class="form-control" type="text" placeholder="Enter Place where product exports">
</div>
<div *ngIf="(this.addForm.get('pplace')?.errors)&&(this.addForm.get('pplace')?.touched)">
    <p class="text-danger">Must contains alphabets only</p>
</div>
<br>
<button (click)="add()" type="submit" class="btn btn-success" style="position: relative;left: 500px;">ADD</button>
<div class="text-container mb-2">
    <a href="employee" style="position: relative;left: 950px; top: -50px;" type="button" class="btn btn-danger mt-3 ms-3 mb-3">Close</a>
</div>
</form>
</div>
