<div class="row">

    
    <div (click)="employee()" class="col-lg-3 col-md-6 col-sm-12" style="position: relative; left: 100px; top: 100px;">
        <a style="text-decoration: none; color: black;" >
            <img style="height: 200px;width: 150px;" class="i1" src="https://i.postimg.cc/CLBp2GkZ/download-9.jpg" alt="employee">
        <h4 class=" mt-3">EMPLOYEE
        </h4></a>
    </div>
    <div (click)="products()" class="col-lg-3 col-md-6 col-sm-12" style="position: relative; left: 100px; top: 100px;">
        <a style="text-decoration: none; color: black;" >
            <img style="height: 200px;width: 150px;" class="i1" src="https://i.postimg.cc/Dw7jXXhp/product.jpg" alt="product">
        <h4 class="mt-3">PRODUCTS
        </h4></a>
    </div>
    <div (click)="raw()" class="col-lg-3 col-md-6 col-sm-12" style="position: relative; left: 100px; top: 100px;">
        <a style="text-decoration: none; color: black;">
            <img style="height: 200px;width: 150px;" class="i1" src="https://i.postimg.cc/MpfRXFRW/download-1.png" alt="raw material">
        <h4 class="mt-3">RAW MATERIAL
        </h4></a>
    </div>
    <div (click)="logout()" class="col-lg-3 col-md-6 col-sm-12" style="position: relative; left: 120px; top: 100px;">
        <a style="text-decoration: none; color: black;">
            <img style="height: 200px;width: 150px;" class="i1" src="https://i.postimg.cc/dQmd96Ky/images.png" alt="raw material">
        <h4 class="mt-3">LOGOUT
        </h4></a>
    </div>
</div>